<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>

</style>
<body>
    <h1 class="text-center mt-3 text-primary">Short Your URL Here!</h1>
<div class="container  w-50 mt-5 ">
    <form action="/url" method="post" >
        <label class="text-center">Paste the URL to be shortened</label>
       
        <input type="text" name="url" class="form-control mt-3" placeholder="https://www.example.com">

        <button type="submit"  class="form-control mt-3 btn btn-info" >Shorten URL</button>
    </form>
</div>
    <br><br>
<div class="container">
    <table  class="table table-hover">
        <thead>
            <th >Sr.No</th>
            <th>Short ID</th>
            <th>Go To</th>
            <th>Total Click</th>
            <th>Original URL</th>

        </thead>
<% if (locals.urls){%>
            <tbody>
                <% urls.forEach((url,index) => { %>             
                <tr>
                <td>
                    <%= index + 1 %>
                </td>
                <td>
                    <%= url.ShortID %>
                </td>
                <td>
                    <a href="http://localhost:9100/url/<%= url.ShortID %>" target="_blank">View URL</a>
                </td>
                <td >
                    <%= url.VisitedHistory.length %>
                </td>
                <td>
                    <%= url.RedirectURL %>
                </td>
            </tr>
            <% }) %>
        </tbody>
<% } %>
    </table>
</div>
</body>
</html>